* {
    margin: 0%;
    padding: 0%;
}


.Hero {
    margin-top: 10%;
    height: 70%;
    width: 100%;


}

.HeroContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    /* border: 2px solid black; */
}

.HeroText {
    margin-top: 15px;
    /* border: 2px solid black; */
    margin-left: 15%;
    text-align: left;
    height: 380px;

}

.HeroText>span {

    font-size: 350%;
    font-style: oblique;
    font-weight: 1000;
    line-height: 1.15;


}

.HeroText>p {
    margin-top: 20px;
    font-size: 80%;
    font-style: Arial;
    font-weight: 500;
}

.Buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}

.DownloadBtn {
    height: 35px;
    width: 40%;
    border-radius: 15px;
    color: white;
    background-color: black;
}

.CoffeeBtn {
    margin-left: 20px;
    height: 35px;
    width: 40%;
    font-weight: 600;
}

/* RotatedImage.css */
.image-container>img {
    /* border: 2px solid black; */
    width: 30%;
    height: 40%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.rotated-image {
    transform: rotate(-30deg);
}